<a href= "http://we.tl/t-MI8mS9UIAq">{% include svg-icons.html %}
<head>
  <strong>【官方网址|佳士工人声援团消息平台】</strong>
</head>
<p align="left">
全中国、全社会关注佳士建会事件的正义人士：
</p>
<p align="left">
  ★<strong>网址</strong>★
<a href= "https://jiashigrsyt.github.io/">https://jiashigrsyt.github.io/ </a>
  为相关消息固定的官方发布网址，我们将持续更新佳士工人声援团的相关最新消息，消息不时更新，请大家收藏，保持关注，积极转发！</br>
  本网址需要翻墙浏览，我们在下方提供了<strong>安卓手机翻墙</strong>方法！</br>
</p>
<p align="left">
  ★<strong>翻墙方式</strong>★</br>
1.复制链接到<strong>浏览器</strong>打开，即可下载“secureVPN”。
<a href= "http://fanqiangzhuanyong233.github.io/梯2.apk">http://fanqiangzhuanyong233.github.io/梯2.apk</a></br>
2.下载完成后打开“secure VPN”，点击圆形connect按钮，当中间出现计时时即表示翻墙成功，即可顺畅访问官网。</br>
</p>
<p>
【小贴士】请勿在使用VPN时使用电子支付软件，以防意外！
</p>
<p> 
  <strong>联系我们:<a href= "jiashishengyuantuan@gmail.com">jiashishengyuantuan@gmail.com</a></strong></br>
  <strong>telegram账号：+8617124473592 或 @jiashigongrensyt </strong>
  <strong><p style="font-size:110%">同战斗，共进退！</p></strong>
</p>
{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}
</a></br>
