---
layout: page
title: 英文专栏
permalink: /english/
---

{% if site.posts.size == 0 %}
  <h2>No article found</h2>
{% endif %}

<ul class="english">
  {% for article in site.categories.english %}
    {% unless post.next %}
  
    {% else %}
     
      {% if year != nyear %}

      {% endif %}
    {% endunless %}

    <li>
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">
      {% endif %}
        {{ post.title }}
      </a>
      <time>{{ post.date | date: "%Y-%m-%d" }}</time>
    </li>
  {% endfor %}
</ul>
